* {
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    display: grid;
    min-height: 100vh;
    margin: 0 auto;
    grid-template-columns: 1fr 1200px 1fr;
    grid-template-rows: 80px 1fr minmax(100px, auto);
    grid-template-areas: 
        ". pageHeader  ." 
        ". pageContent ." 
        ". pageFooter  .";
}

// Page margins
body > div[class^="margin-"] {
    background: #000;
}

// Page Header
.pageHeader {
    display: grid;
    grid-template-columns: 245px 1fr;
    align-items: end;
    grid-template-areas: "logo navigation";
    grid-area: pageHeader;
    padding: 0 120px;
    z-index: 1;
    color: #fff;
    background-color: #290000;
    & a {
        color: #fff;
    }
    &>.logo {
        grid-area: logo;
        font-size: 28px;
        line-height: 28px;
        &>.small {
            display: block;
            color: #979797;
            font-size: 11px;
            line-height: 11px;
        }
    }
    &>.mainMenu {
        grid-area: navigation;
        margin-right: -20px;
        &>ul {
            display: grid;
            list-style-type: none;
            margin: 0;
            grid-auto-flow: column;
            justify-self: end;
            justify-items: end;
            text-transform: uppercase;
            font-size: 13px;
            &>li {
                padding: 12px 20px;
                &:hover {
                    background-color: #76c38f;
                    border-radius: 5px;
                }
            }
        }
    }
}

// Page Content
.pageContent {
    grid-area: pageContent;
    background-color: #660000;
    &>section {
        padding: 0 120px;
    }
    &>.mainBanerSection {
        display: grid;
        grid-template-columns: 15px 1fr 430px 15px;
        grid-template-rows: 220px auto 1fr;
        column-gap: 45px;
        height: 520px;
        background-color: #290000;
        align-items: center;
        grid-template-areas: 
            "arrowLeft headline mainImage arrowRight" 
            "arrowLeft content  mainImage arrowRight" 
            "arrowLeft button   mainImage arrowRight";
        &>a[class^="arrow"] {
            justify-self: center;
            width: 15px;
            height: 28px;
        }
        &>.arrowLeft {
            grid-area: arrowLeft;
            background-image: url(../images/Left_arrow.png);
        }
        &>.arrowRight {
            grid-area: arrowRight;
            background-image: url(../images/Right_arrow.png);
        }
        &>h1 {
            grid-area: headline;
            align-self: end;
            width: 320px;
            color: #ffffff;
            font-size: 46px;
            line-height: 46px;
            font-weight: normal;
            margin-bottom: 18px;
        }
        &>p {
            grid-area: content;
            align-self: start;
            width: 320px;
            color: #979797;
            font-size: 12px;
            line-height: 19.2px;
            margin-bottom: 17px;
            letter-spacing: 0.8px;
        }
        &>.button {
            grid-area: button;
            justify-self: start;
            align-self: start;
            display: inline-block;
            color: #fff;
            padding: 11px 16px;
            background-color: #76c38f;
            border-radius: 5px;
            font-size: 13px;
            line-height: 13px;
        }
        &>img {
            grid-area: mainImage;
            align-self: center;
            object-fit: cover;
            width: 380px;
            height: 380px;
            border: 25px solid #6b6b6b;
            left: 25px;
            top: 25px;
            border-radius: 50%;
        }
    }
    .servicesSection {
        display: grid;
        grid-template-columns: repeat(4, 225px);
        gap: 20px;
        grid-auto-rows: 305px;
        padding-top: 60px;
        padding-bottom: 20px;
        &>h2 {
            display: none;
        }
        &>article {
            overflow: hidden;
            padding: 21px 33px;
            display: grid;
            grid-template-rows: auto auto 1fr;
            grid-template-areas: 
                "image" 
                "headline" 
                "content";
            row-gap: 12px;
            background: #fff;
            &>h3 {
                grid-area: headline;
                color: #333333;
                font-size: 32px;
                font-weight: 400;
                line-height: 32px;
                text-transform: uppercase;
                text-align: center;
            }
            &>img {
                grid-area: image;
                width: 120px;
                height: 120px;
                justify-self: center;
                object-fit: cover;
            }
            &>p {
                color: #979797;
                font-size: 12px;
                line-height: 16.8px;
                text-align: justify;
                letter-spacing: 0.8px;
            }
            &:hover {
                background-color: #76c38f;
                &>h3 {
                    color: #fff;
                }
                &>p {
                    color: #fff;
                }
            }
        }
    }
    .latestWorkSection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 30px;
        padding-top: 20px;
        padding-bottom: 60px;
        &::before {
            content: '';
            display: block;
            grid-area: ~"1 / 1 / 2 / 4";
            align-self: center;
            width: 100%;
            top: 50%;
            height: 3px;
            background-color: #303030;
        }
        &>h2 {
            grid-area: ~"1 / 1 / 2 / 4";
            align-self: center;
            justify-self: center;
            position: relative;
            color: #ffffff;
            background-color: #303030;
            border-radius: 10px;
            padding: 12px 15px;
            font-size: 32px;
            font-weight: 400;
            line-height: 38.4px;
            text-transform: uppercase;
        }
        &>article {
            display: grid;
            grid-auto-flow: row;
            grid-template-areas: 
                "image" 
                "headline";
            border: 5px solid #fff;
            &>h3 {
                color: #ffffff;
                font-size: 14px;
                font-weight: 400;
                line-height: 16.8px;
                text-transform: uppercase;
                padding: 10px 0;
                text-align: center;
                background-color: #000;
            }
            &>img {
                grid-area: image;
                width: 290px;
                height: 190px;
                object-fit: cover;
                object-position: center 60%;
            }
        }
    }
}

// Page Footer
.pageFooter {
    grid-area: pageFooter;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    padding: 40px 120px 0;
    grid-template-areas: 
        "fromBlog  quickLinks latestTweets contactUs" 
        "hr        hr         hr           hr" 
        "copyright copyright  templateBy   templateBy";
    background-color: #303030;
    color: #979797;
    & a {
        color: #76c38f;
        font-size: 13px;
        line-height: 15.6px;
    }
    &>section {
        margin-bottom: 40px;
        h3 {
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.2px;
            padding-bottom: 30px;
        }
    }
    &>.fromBlog {
        grid-area: fromBlog;
        & h4 {
            margin-bottom: 14px;
        }
        & .author, & time {
            display: block;
            font-size: 10px;
            line-height: 12px;
            margin: 10px 0;
            &>a {
                font-size: 10px;
                line-height: 12px;
            }
        }
        & p {
            margin: 14px 0;
            line-height: 20.8px;
            font-size: 13px;
        }
    }
    &>.quickLinks {
        grid-area: quickLinks;
        &>ul {
            list-style-type: none;
            line-height: 32px;
            padding: 0;
            &>li {
                padding-left: 10px;
                background: url(../images/Composite_Path.png) no-repeat center left;
                border-bottom: 1px solid #404040;
            }
        }
    }
    &>.latestTweets {
        grid-area: latestTweets;
        & h4 {
            display: inline;
        }
        & .content {
            line-height: 20.8px;
            font-size: 13px;
        }
    }
    &>.contactUs {
        grid-area: contactUs;
        &>form {
            [placeholder] {
                display: block;
                background-color: #222222;
                border: none;
                border-radius: 5px;
                width: 100%;
                padding: 10px;
                margin-bottom: 10px;
                &::placeholder {
                    color: #989898;
                    text-transform: capitalize;
                    font-size: 13px;
                    line-height: 15.6px;
                }
            }
            &>textarea {
                resize: none;
                height: 80px;
            }
            &>input[type="submit"] {
                color: #303030;
                background-color: #76c38f;
                font-size: 12px;
                font-weight: bold;
                line-height: 14px;
                text-transform: uppercase;
                border: none;
                padding: 10.5px 14.5px;
                border-radius: 5px;
            }
        }
    }
    &>hr {
        grid-area: hr;
        border: 1px solid #000;
    }
    &>.copyright {
        grid-area: copyright;
        padding: 24px 0;
        color: #979797;
        font-size: 13px;
        line-height: 13px;
    }
    &>.templateBy {
        grid-area: templateBy;
        justify-self: end;
        padding: 24px 0;
        color: #979797;
        font-size: 13px;
        line-height: 13px;
    }
}